<a href="https://colab.research.google.com/github/alexkurumin/codereplit/blob/main/Continue_Break.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas
!pip install numpy
!pip install openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [ ]:
import pandas as pd
tabela = pd.read_excel('vendedores.xlsx')
display(tabela)

     Vendedor  Vendas          Loja  Imposto
0        Lira    3680           Rio      NaN
1       Julia    5301           Rio      NaN
2      Amanda    7378  Porto Alegre      NaN
3  Alessandra    6143            SP      NaN
4      Camila    4486           Rio      NaN
5      Marcus    6439            SP      NaN
6        Alon    5926           Rio      NaN
7   Candiotto    7176            SP      NaN
8       Pedro    1494            SP      NaN

In [ ]:
faturamento = 0
for venda in tabela['Vendas']:
    faturamento += venda
    if faturamento > 30000:
        print(f'Faturamento batido: {faturamento}')
        break

Faturamento batido: 33427

In [ ]:
for i, venda in enumerate(tabela['Vendas']):
    cidade = tabela.loc[i, 'Loja']
    if cidade == 'Porto Alegre':
        continue
    imposto = 0.1
    valor_imposto = imposto * venda
    tabela.loc[i, 'Imposto'] = valor_imposto
display(tabela)

     Vendedor  Vendas          Loja  Imposto
0        Lira    3680           Rio    368.0
1       Julia    5301           Rio    530.1
2      Amanda    7378  Porto Alegre      NaN
3  Alessandra    6143            SP    614.3
4      Camila    4486           Rio    448.6
5      Marcus    6439            SP    643.9
6        Alon    5926           Rio    592.6
7   Candiotto    7176            SP    717.6
8       Pedro    1494            SP    149.4